body
{

    margin:0;
    padding:0;
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0e9aa7 , #3da4ab , #f6cd61 , #fe8a71);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0e9aa7 , #3da4ab , #f6cd61 , #fe8a71);
    background-size:cover;
    font-family: sans-serif;
}

.loginBox
{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:350px;
    height:500px;
    padding:80px 40px;
    box-sizing: border-box;
    background:rgba(0,0,0,0.5) ;

}

.registerBox
{
    position:absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    width:350px;
    height:570px;
    padding:80px 40px;
    box-sizing: border-box;
    background:rgba(0,0,0,0.5) ;

}



h2
{

    font-stretch: extra-expanded;
    font-size: 40px;
    font-family: Arial;
    margin:0;
    padding:0 0 20px;
    color:#FF1493;
    text-align:center;
}



.loginBox p
{
    padding:0;
    margin:0;
    font-weight:bold;
    color:#fff;

}

.registerBox p
{
    padding:0;
    margin:0;
    font-weight:bold;
    color:#fff;

}


.loginBox input
{
    width:100%;
    margin-bottom: 20px;
}


.registerBox input
{
    width:100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"], .loginBox input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height:40px;
    color:#fff;
    font-size: 16px;


}

.registerBox input[type="text"], .registerBox input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height:40px;
    color:#fff;
    font-size: 16px;


}

.registerBox input[type="date"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height:40px;
    color:#fff;
    font-size: 16px;


}

.loginBox input[type="submit"]
{
    border:none;
    outline:none;
    height: 40px;
    color:#fff;
    font-size:16px;
    background: #FF1493;
    cursor:pointer;
    border-radius:20px;
}

.registerBox input[type="submit"]
{
    border:none;
    outline:none;
    height: 40px;
    color:#fff;
    font-size:16px;
    background: #FF1493;
    cursor:pointer;
    border-radius:20px;
}


.loginBox input[type="submit"]:hover
{
    background: rgb(255,140,0);
    color: #262626;
}

.registerBox input[type="submit"]:hover
{
    background: rgb(255,140,0);
    color: #262626;
}


.loginBox a
{
    color: #fff;
    font-size:14px;
    font-weight:bold;
    margin: 16px;
}

.registerBox a
{
    color: #fff;
    font-size:14px;
    font-weight:bold;
    margin: 16px;
}


::placeholder
{
    color:rgba(255,255,255,0.5);
}


.user
{
    width:100px;
    height:100px;
    overflow:hidden;
    position:absolute;
    top:calc(-100px/2);
    left:calc(50% - 50px);
    border-radius:50%;
}
